/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.capitalized {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.spacing {
  margin-top: 35px;
}
.flexMixin {
  display: flex;
  justify-content: space-between;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: black;
  color: white;
}
.container {
  margin: 35px auto;
  width: 80%;
}
.container header {
  background: black;
}
.container header nav {
  padding: 15px 2%;
  margin-top: -31px;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}
.container header nav a {
  text-decoration: none;
  color: white;
  margin-right: 8%;
  text-transform: uppercase;
}
.container .main {
  margin-top: 35px;
}
.container .main .product-intro {
  margin-bottom: 35px;
}
.container .main .product-intro h1 {
  text-transform: uppercase;
  text-align: center;
}
.container .main .product-intro p {
  text-align: center;
  padding-top: 15px;
}
.container .main .product-images {
  margin-left: 16%;
  margin-right: 16%;
}
.container .main .product-images .top,
.container .main .product-images .bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 7%;
}
.container .main .product-images .top .product-image,
.container .main .product-images .bottom .product-image {
  height: 280px;
}
.container .main .product-images .top .product-image h3,
.container .main .product-images .bottom .product-image h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.container .main .product-images .top .product-image .african-image,
.container .main .product-images .bottom .product-image .african-image {
  border-radius: 50%;
}
.container .main .product-images .middle {
  margin: auto;
}
.container .main .product-images .middle .product-image {
  height: 280px;
}
.container .main .product-images .middle .product-image h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.container .main .product-images .middle .product-image .african-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container footer p {
  text-align: center;
  padding-bottom: 15px;
}
