* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
  color: white;
}

h2 {
  font-size: 3.2rem;
  color: white;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  .width();
  margin: 0 auto;
  background-color: @dark;

  @media @phone {
    background-color: white;
  }
}

.logo {
  .sizing();
}
