
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: @background1;
  color: @color1;
  font-size: 18px;
 @media @mobile{
  background: white;
  color: @background1;
 }
}
.container{
  margin: @margin auto;
    width: 80%;
    @media @mobile{
        margin: 0 0 0 0;
        width: 100%;
    }
}
