.intro {
  h2 {
    padding: 15px;
  }
  p {
    padding: 0 15px;
  }
}

.eu-images {
  display: flex;
  // flex-wrap: wrap;
  // width: 100%;
  justify-content: center;
  align-items: flex-end;

  img {
    max-width: 80%;
    margin: 20px 2.5%;
    // border-radius: 20px;
    height: 100%;
  }
}

.outro {
  margin-top: 60px;
  border-top: 1px solid #2c1414;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  background-color: @sokoni;

  .text {
    width: 50%;
    color: white;
  }
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 26px;
  }
}

.text-img {
  width: 35%;
  margin-left: 4%;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
